node_modules/
.expo/
dist/
web-build/
*.log
.DS_Store
ios/
android/
expo-env.d.ts
*.tsbuildinfo
.kotlin/
*.apk

# env / secrets
.env
.env.local
.env.*.local

# signing credentials
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.pem
